<!--<?xml version='1.0' encoding='utf-8'?>-->
<!--<!DOCTYPE hibernate-configuration PUBLIC-->
    <!--"-//Hibernate/Hibernate Configuration DTD//EN"-->
    <!--"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">-->
<!--<hibernate-configuration>-->
  <!--<session-factory>-->
    <!--<property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>-->
    <!--<property name="connection.driver_class">org.postgresql.Driver</property>-->

    <!--&lt;!&ndash; DB schema will be updated if needed &ndash;&gt;-->
    <!--<property name="hbm2ddl.auto">update</property>-->

    <!--<mapping class="io.connectmenow.connect.ConnectApplication"/>-->
    <!--<mapping class="io.connectmenow.connect.model.entities.FriendsEntity"/>-->
    <!--<mapping class="io.connectmenow.connect.model.entities.MeetingsEntity"/>-->
    <!--<mapping class="io.connectmenow.connect.model.entities.UsersEntityGenerated"/>-->
    <!--<mapping class="io.connectmenow.connect.model.entities.UsersFriendsEntity"/>-->
  <!--</session-factory>-->
<!--</hibernate-configuration>-->